# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=courier_db

# Kafka
KAFKA_BROKER=localhost:9094
KAFKA_CLIENT_ID=courier-api

# App
PORT=3000
NODE_ENV=development
